
  .home-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3.5rem;
    padding: 10rem;
    height: 100%;
    width: 100%;
  }

  .main-heading
  {
     text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      rgb(247, 242, 255) 0%,
      #a19f9f 29%,
      #ffffff 67%,
      #ffffff 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
        font-size: 3rem;
  }
  
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
.name-input{
    border: none;
    background-color: transparent;
    border-bottom: 3px solid var(--text-color-primary);
    font-size: 3.5rem;
    color: var(--text-color-primary);
    text-align: center;
    font-weight: 00;
    width: 50%;
   
}
.name-input:focus{
  outline: none;
}