.weather-container {
    position: absolute;
    top: 1rem;
    left: 2.5rem;
    display: flex;
    align-items: center;
   gap: 0.5rem;
    flex-direction: row;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
  

.locality{
    position: absolute;
    top: 7rem;
    left: 2.5rem;
   font-size: 1px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}