.todo-input{

    border: none;
    background-color: transparent;

    font-size: 20px;
    color: var(--text-color-primary);
    text-align: center;
    width: 100%;
    font-weight: 00;

   
}
.todo-input:focus{
outline: none;

}
.todo-container{
    border: none;
    padding: 4px ;

    text-decoration: none;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
    width: 15% ;
    position: fixed;
    right:1rem;
    bottom: 10rem;
}

.todo-list-heading{
    font-size: 1.3rem;
    line-height: 1.7rem;
    color: var(--text-color-primary)
}