@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
@import url("./styles/functional.css");
@import url("./page/home/home.css");
@import url('./page/task/task.css');
@import url('./components/Todo/todo.css');
@import url('./components/weather/weather.css');

/* 
@import url("./components/Weather/Weather.css"); */

.wallpaper{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
  
   
}
.qoutes{
color: var(--text-color-primary);
}
.reset-btn{
    display: inline-block;
    padding: 4px 12px;
    border: none;
    text-decoration: none;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
    color: rgba(255,255,255,0.8);
    font-size:16px;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
    position: fixed;
    right:3rem;
   top: 4rem;
}